@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'Noto Sans', sans-serif;
} 

a{
    text-decoration: none;
}
/* clases */
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* Encabezado */
header {
    height: 83px;
    width: 100%;
}

nav {
    height: 83px;
    width: 100%;
    padding: 20px 0;
}

.navigation-bar ul {
    padding: 0;
    margin: 0;
}

.navigation-bar ul li {
    display: inline-block;
    margin: 0 25px;
}

.navigation-bar ul li:last-child {
    margin-right: 0px;
}

.navigation-bar ul li a{
    font-size: 14px;
    color: #222222;
    font-weight: normal;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

navigation-bar ul li a:hover{
    color: #80c894;

}




.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d9fce7;
    font-weight: normal;
    font-weight: 600;
    color: #80c894;
}

