@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'ZCOOL KuaiLe', cursive;
} 

a{
    text-decoration: none;
}
/* clases */
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* Encabezado */
header {
    height: 83px;
    width: 100%;
}

nav {
    height: 83px;
    width: 100%;
    padding: 20px 0;
}

.navigation-bar ul {
    
}